{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Log In{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form action="{{ url_for('login') }}" method="post" name="login">
      {{ form.hidden_tag()}}
      <p> {{ form.username.label }}<br>
          {{ form.username(size=80) }}<br>

          {{ form.password.label }}<br>
          <!-- æä»¬å¯ä»¥ä¼ éinputæ ç­¾çå±æ§ï¼è¿éä¼ éçæ¯sizeå±æ?-->
          {{ form.password(size=80) }}<br>
		  {{ form.remember_me }} Remember Me</p>
      <p><input type="submit" value="Sign In"></p>
  </form>
{% endblock %}
